@mixin round_corners($radius: 3px) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin round_corners_bottom_left($radius: 3px) {
    -moz-border-radius-bottomleft: $radius;
    -webkit-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin round_corners_bottom_right($radius: 3px) {
    -moz-border-radius-bottomright: $radius;
    -webkit-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
}

@mixin round_corners_top_left($radius: 3px) {
    -moz-border-radius-topleft: $radius;
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
}

@mixin round_corners_top_right($radius: 3px) {
    -moz-border-radius-topright: $radius;
    -webkit-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
}
